<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Duration</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each genres.books}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{genre}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <a href="/genre/{{../genre.id}}/deletebook/{{id}}" class="ui tiny red button">Delete Book</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>