<div class="ui centered cards">

  {{#each genres}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header">{{title}}</a>
        <div class="metadata">
          <span class="date">Date added: {{formatDate date}}</span>
        </div>
      </div>
      <div class="extra content">
      <a href="/book/{{id}}" class="ui black icon button">
        <i class="icon folder open"></i>
      </a>
      <a href="/library/deletegenre/{{id}}" class="ui black icon button">
        <i class="icon trash"></i>
      </a>
    </section>
  {{/each}}

</div>