<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Publisher</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each genres.Books}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{author}}
        </td>
        <td>
          {{ISBN}}
        </td>
        <td>
          {{publisher}}
        </td>
        <td>
          <a href="/library/{{../genre.id}}/deletebook/{{id}}" class="ui tiny black button">Delete Book</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>