{{#if genre.Books}}

<table class="ui fixed striped table">
  <thead>
    <tr>
      <th class="four wide">Title</th>
      <th class="four wide">Author</th>
      <th class="three wide">ISBN</th>
      <th class="three wide">Publisher</th>
      <th class="one wide"> </th>
      <th class="one wide"> </th>
    </tr>
  </thead>
  <tbody>
    {{#each genres.Books}}
    <form class="ui form" action="/genres/{{../genres.id}}/updateBook/{{id}}" method="POST">
    <tr class="fields">
      <td class="field">
        <span class="ui input">
         <input placeholder="Title" type="text" size="30" name="title" autofocus required value = "{{title}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
         <input placeholder="Title" type="text" size="30" name="author" autofocus required value = "{{author}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
         <input placeholder="Title" type="text" size="30" name="ISBN" autofocus required value = "{{ISBN}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
         <input placeholder="Title" type="text" size="30" name="publisher" autofocus required value = "{{publisher}}">
        </span>
      </td>
      <td class="center aligned">
        <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
      </td>
      <td class="center aligned">
        <a href="/genres/{{../genres.id}}/deleteBook/{{id}}" class="ui icon tiny black button delsong">
          <i class="icon trash"></i>
        </a>
      </td>
      </tr>
    </form>   
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>

{{/if}}